body{
    background-image: url(../img/clinica.png);
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}
.imagemAuxiliar{
    position: relative;
    width: 50%;
    z-index: 0;
    right: 53px;
    bottom: -221px
}

.doutora{
    position: relative;
    width: 29%;
    top: 176px;
    left: 50;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 30px; */
    }
.doutora{
    position: relative; 
    width: 29%;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 30px; */
    display: block;
    z-index: -1;
}

.text-box{
    position: relative;
    width: 1260px;
    height: 210px;
    background-color: black;
    opacity: 0.6;
    margin-top: -60px;
    color: white;
    font-size: 25px;
    z-index: 1;
}

.pessoa{
    color: #ff8882;
    font-size: 25px;
    opacity: 1;    
}

.pessoa-dois{
    color: #2afff4;
    font-size: 25px;
    opacity: 1;        
}

.text-box .escolha-um:hover{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.text-box .escolha-dois:hover{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.botaozinho-clique-clinica{
    position: absolute;
    margin-left: 80%;
    /* margin-top: -150px;   */
    margin-top: -55px;
    z-index: 2;
  }
  
  .form-pug{
    margin: 10px;
    display: none;
  }