.form{
  display: none;
}

.form-input{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: black;
}

.form-select{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button{
  /* width: 10%; */
  background-color: #ffc1e8;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover{
  background-color: #fb92d5;
}