.body-predispo{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #c3dff7;
}
  
.texto-inicial{
  height: 300px;
  margin-top: 300px;
  text-align: center;
  color: #56302E;
  font-size: 28px;
}


.botaozinho-clique{
  margin-left: 80%;
}
